name: Deploy Sych Bot

on:
  push:
    branches:
      - main
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VDS_HOST }}
          username: ${{ secrets.VDS_USER }}
          key: ${{ secrets.VDS_SSH_KEY }}
          port: 22
          script: |

            # 2. Переходим в папку (ИСПРАВИЛ ОПЕЧАТКУ sych-bot -> sych_bot)
            cd /root/sych-bot
            
            # 3. Скачиваем обновления
            git pull origin main
            
            # 4. Обновляем библиотеки
            npm install --production
            
            # 5. Перезапускаем бота
            pm2 restart sych-bot
